.buttonAdd {
  background: #3F3F3F;
  font-weight: bold;
  color: #44546F;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
}

.title {
  /*font-family: montserrat;
  color: #223556;
  font-size: 25px;
  font-weight: bold;*/
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 8px;
}

subtitle {
  font-family: montserrat;
  color: #172B4D;
  font-size: 13px;
  margin-bottom: 25px;
}