.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(31, 27, 46, .88);
}


.MuiBottomNavigation-root{

}
.box {

}